html {
  font-family:;
  background-color: #116c81;
  text-align: center;
  min-width: 320px;
}

#top {
  margin: 1.5em;
  font-size: 1.25em;
}

form {
  max-width: 75%;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
  border-radius: .5em;
}

.row {
  margin: 1.5em auto;
  padding: .25em;
}

#name, #email, #number {
  font-size: .7em;
  min-width: 20%;
  border: solid 1px lightgray;
  height: 2em;
  padding: .25em;
  margin-left: 1em;
  border-radius: .2em;
}

select {
  border: solid 1px lightgray;
  height: 3em;
  margin: 1em;
  padding: .5em;
}


ul {
  list-style: none;
}

ul li {
  padding: .25em .25em;
  margin: .5em;
}

textarea {
  min-width: 60%;
  height:5em;
}

