* {
	margin: 0;
	padding: 0;
}

#navbar {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0px;
  padding-top: 10px;
  text-align: center;
  border-right: solid black 1px;
}

#main-doc {
  margin-left: 340px;
}

.main-section {
  margin-top: 2em;
}

code {
  display:block;
  text-align: left;
  background-color:#f7f7f7;
  padding:15px;
  margin:10px;
}